@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        
header {
    background-color: #fff; 
    color: #000;
    padding: 10px 0;
    margin-bottom:30px;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Style the logo */
.logo {
	text-align: center; /* 로고 텍스트를 중앙 정렬 */
	margin: 20px 0; /* 위아래 여백을 조절하여 상단 중앙에 위치 */
}
.logo img{
	display: block; /* 인라인 요소가 아닌 블록 요소로 설정 */
    margin: 0 auto; /* 가로 중앙 정렬 */
}


/* Style the navigation links */
.nav-links {
    list-style: none;
    display: flex;
    padding:10px;
    margin: 0; /* 리스트의 기본 마진 제거 */
    padding: 0; /* 리스트의 기본 패딩 제거 */
}

/* 왼쪽 네비게이션 배치 */
.left-nav ul {
    list-style: none;
}

.left-nav ul li {
    display: inline;
    margin-right: 20px;
}


/* 오른쪽 네비게이션 배치 */
.right-nav ul {
    list-style: none;
}

.right-nav ul li {
    display: inline;
    margin-left: 20px;
}


.nav-links li {
    list-style-type: none;
    margin-right: 20px; /* 링크 사이 간격 조절 */
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    text-decoration: none;
    color: #7498cf;
}

p{
	font-size: 12px;
}
 audio {
 	position:relative;
 	left:30em;
    margin-right: 20px; /* 오디오 요소 오른쪽 여백 설정 */
        }  

@font-face {
font-family: 'UhBeeSe_hyun';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff') format('woff');
font-weight: normal;
font-style: normal;
}

.logo h2{
	font-family: 'UhBeeSe_hyun';
	font-weight:bold;
	font-size: 50px;
	position : relative;
	top:17px;
}
.logo a{
	text-decoration: none;
	color:inherit;

 