@charset "UTF-8";

*{
	text-align:center;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.container {
    padding: 20px;
    border-radius: 30px;
}


h1 {
	letter-spacing : 5px;
    font-size: 24px;
    margin-bottom: 20px;
    color: #56565b;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.neu-input {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #b8c6db;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
                -5px -5px 10px rgba(255, 255, 255, 0.5);
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    background: transparent;
    outline: none;
}

.cusbtn {
    margin-top: 20px;
    background: #b8c6db;
    border:1px solid #fff;
    border-radius:5px;
    color:gray;
    flex: 1; /* 버튼이 동일한 너비를 가지도록 함 */
    margin-right: 10px; /* 버튼 간 간격 조정 */
    width: 50%; /* 버튼의 너비를 조절하여 동일한 크기로 만듦 */
}

#resetbtn{
	width:100px;
	position: relative;
	left: 30px;
}
 .neu-button {
        display: flex;
        justify-content:center; /* 가로로 간격을 벌리기 위해 사용 */
        text-align:center;
        width: 35%;
    }

.cusbtn:hover{
	cursor:pointer;
	color:black;
}
button {
    padding: 10px 20px;
    border: none;
    background: #b8c6db;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
                -5px -5px 10px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

button:hover {
    background: #e0e0e0;
}

#mailbutton{
	padding: 10px 20px;
    border: none;
    background: #b8c6db;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
                -5px -5px 10px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

 
#mail_check_input_box_false{
    background-color:#ebebe4;
}
 
#mail_check_input_box_true{
    background-color:white;
}



/* 중복아이디 존재하지 않는경우 */
.id_input_re_1 {
	color: green;
	display: none;
}
/* 중복아이디 존재하는 경우 */
.id_input_re_2 {
	color: red;
	display: none;
}
/* 아이디가 4자 미만인 경우*/
.id_input_re_3 {
	color: skyblue;
	display: none;
}
/* 아이디가 12자를 초과한 경우*/
.id_input_re_4 {
	color: gray;
	display: none;
}
/* 아이디에 공백이 들어간 경우*/
.id_input_re_5 {
	color: orange;
	display: none;
}