@charset "UTF-8";

@font-face {
	font-family: 'EF_jejudoldam';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GangwonEduSaeeum_OTFMediumA';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Dovemayo_wild';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/Dovemayo_wild.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
}

#product {
	margin: 15px 15px;
}

.custom-img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover; /* 이미지 비율 유지하면서 카드에 맞게 조절 */
}

#card-title{
	
	text-align:center;
	
}